$bg: rgba(253, 141, 76, 32%);
$black: #000;
$border-gray-2: #9299a2;
$border-gray: #5c636b;
$gray-input: #545454;
$gray2-input: #292929;
$input-hover: #6e6e6e;
$light-gray: rgba(255, 255, 255, 16%);
$main-gray: #333;
$primary: rgba(253, 141, 76, 100%);
$secondary: #fd8d4c33;
$support-2: #3682db;
$text-gray-1: rgba(255, 255, 255, 60%);
$text-gray-2: rgba(255, 255, 255, 72%);
$text-gray-3: #1b1f3b;
$text-negative: #ff8c67;
$text-positive: #44c596;
$white: #fff;
$text-passive: #adadad;
$text-secondary: #999999;
$text-third: #ffffffb8;
$default-hover: #333333;
$modal-background: #333333;
$pending-button-text: #858585;
$default-success: #4ac99b;
$info-background: #333333;
$day-text-icon-text: #1b1f3bcc;
$badge-background: #525457;
$user-link: #526ed3;
