.header {
  background-color: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 676px) {
    flex-direction: column;
    height: fit-content;
    padding: 0;
  }

  .header_title {
    color: $primary;
  }

  .authorizedUser {
    &_role {
      color: $primary;
      margin: 0;
    }
  }
}
